capacitor-google-map {
  display: inline-block;
  width: 100%;
  height: 35vh;
}
ion-content {
  --background: transparent !important;
}
.ion-slides {
  height: 100%;
  background-color: red !important;
}